body {
  background: rgb(193, 179, 140);
  background: linear-gradient(
    90deg,
    rgba(193, 179, 140, 1) 0%,
    rgba(220, 196, 68, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  text-align: center;
  overflow: hidden;
}

button {
  width: 300px;
  height: 150px;
  border: 0;
  border-radius: 10%;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex > h1 {
  color: black;
}

@keyframes an {
  0% {
    left: 2000px;
  }
  25% {
    left: 1500px;
  }
  50% {
    left: 1000px;
  }
  75% {
    left: 500px;
  }
  100% {
    left: 0px;
  }
}

.yasya {
  position: relative;
  left: 2000px;
  top: 100px;
}

.yasya > img {
  position: relative;
  bottom: 110px;
  width: 197px;
}

.yasya > p {
  position: relative;
  bottom: 168px;
  font-size: 15px;
  color: black;
}
